h1 {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.one {
    width: 45%;
    height: 200px;
    float: left;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    border-radius: 20px;
    border-color: black;
}

.two {
    margin-left: 50%;
    height: 200px;
    text-align: center;
    padding: 10px;
    background-color: bisque;
    border-radius: 20px;
    border-color: black;
}