h1 {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.one {
    width: 50%;
    height: 200px;
    background: red;
    float: left;
}

.two {
    margin-left: 50%;
    height: 200px;
    background: black;
}