{% extends 'base.html' %} {% block body %}
<div class="container ">

    <div class="jumbotron ">
        <h1 class="display-4 ">Let the judgement commence!</h1>

        <hr class="my-4 ">
        <p class="lead ">Please select witch tweet you think is better based on the rubric below.</p>
        <img src=" {{ url_for( 'static', filename='images/img.png' ) }} " width="80%" alt="" class="center">
        <section class="container">
            <form action="/compare/" method="POST">
                <div class="one">
                    <p class="tweet_text">{{ tweet1 }}</p>
                    <input type="radio" id="tweet1" name="radio" value="{{tweet1_id}}">
                    <!--<label for="tweet1">CSS1</label><br>-->
                </div>
                <div class="two">
                    <p class="tweet_text">{{ tweet2 }}</p>
                    <input type="radio" id="tweet2" name="radio" value="{{tweet2_id}}">
                    <!--<label for="tweet2">CSS</label><br>-->
                </div>
                <p class="center">Justification for choice:
                    <textarea rows = "5" cols = "40" name = "content" placeholder="Enter justification here!"></textarea><br>
                </p>
                <input type="submit" value="Vote!" class="center">
            </form>
        </section>
    </div>
</div>
{% endblock %}