{% extends 'base.html' %} {% block body %}
<div class="container ">

    <div class="jumbotron ">
        <h1 class="display-4 ">How funny are tweets?: <br/>A Comparative Judgement Test!</h1>

        <hr class="my-4 ">
        <p class="lead ">Welcome to How funny are tweets?: A comparative judgement Test!. An MSc project based around Comparative judgement on tweets.</p>
        <img src=" {{ url_for( 'static', filename='images/cat_smile.jpg' ) }} " width="80%" alt="" class="center">
        <section class="container">
            <div class="one">asdfa</div>
            <div class="two">adfasdf</div>
        </section>
    </div>
</div>
{% endblock %}