{% extends 'base.html' %} {% block body %}
<div class="container ">

    <div class="jumbotron ">
        <h1 class="display-4 ">How funny are tweets?: <br/>A Comparative Judgement Test!</h1>

        <hr class="my-4 ">
        <p class="lead ">Welcome to How funny are tweets?: A comparative judgement Test!. An MSc project based around Comparative judgement on tweets.</p>
        <img src=" {{ url_for( 'static', filename='images/cat_smile.jpg' ) }} " width="80%" alt="" class="center">
        <section class="container">
            <form action="/compare/" method="POST">
                <div class="one">
                    <p>This will be tweet 1's content</p>
                    <input type="radio" id="tweet1" name="radio 1" value="{{tweets}}">
                    <label for="tweet1">CSS1</label><br>
                </div>
                <div class="two">
                    <p>This will be tweet 2's content</p>
                    <input type="radio" id="tweet2" name="radio 2" value="{{judgement}}">
                    <label for="tweet2">CSS</label><br>
                </div>
                <p class="center">Justification for choice:
                    <input type="text" name="content" id="content" value="">
                </p>
                <input type="submit" value="Vote!" class="center">
            </form>
        </section>
    </div>
</div>
{% endblock %}