{% extends 'base.html' %} {% block body %}
<!--<<div class="jumbotron ">
   img src=" {{ url_for( 'static', filename='images/img.png' ) }} " width="80%" alt="">-->
<div class="container ">
    <div class="jumbotron ">
        <h2 class="display-4 ">What is Comparative Judgement?</h2>

        <hr class="my-4 ">
        <p class="lead ">Comparative judgement is.......</p>

    </div>
    <div class="jumbotron ">
        <h2 class="display-4 ">How does it work?</h2>

        <hr class="my-4 ">
        <p class="lead ">It is a pair wise comparison tool. It aims to provide the user with two options and they then select what one they like the most. The process then ranks the pieces of work that was being compared.</p>
    </div>
    <div class="jumbotron ">
        <h2 class="display-4 ">Why are we doing this?</h2>

        <hr class="my-4 ">
        <p class="lead ">To create the foundations to a bigger app that will be able to mark students work from schools and training providers.</p>
    </div>
</div>
{% endblock %}