{% extends 'base.html' %}{% block head%}
<title>Feedback | Comparative Judgement</title>
{% endblock %}
 {% block body %}

<!-- Have this be able to take users input and then put into Firebase storage as a .txt file to review -->
<div class="container ">
    <div class="row " style="margin-top: 50px">
        <div class="col-md-6 col-md-offset-3 form-container">
            <h2>Feedback</h2>
            <p>
                Please provide your feedback below:
            </p>
            <form role="form" method="post" id="reused_form">
                <div class="row">
                    <div class="col-sm-12 form-group">
                    <label>How do you rate your overall experience?</label>
                    <p>
                        <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="bad" >
                        Bad
                        </label>

                        <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="average" >
                        Average
                        </label>

                        <label class="radio-inline">
                        <input type="radio" name="experience" id="radio_experience" value="good" >
                        Good
                        </label>
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="comments">
                            Comments:</label>
                        <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name">
                            Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-sm-6 form-group">
                    <label for="contact">Willing for us to contact for further information, if need be, by email?:</label>
                        <select name="contact" id="contact" style>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <!--<div class="col-sm-6 form-group">
                        <label for="email">
                            Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>-->
                </div>

                            <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-lg btn-warning btn-block" >Post </button>
                    </div>
                </div>
            </form>

        <div id="success_message" style="width:100%; height:100%; display:none; ">
            <h3>Posted your feedback successfully!</h3>
        </div>
        <div id="error_message"
                style="width:100%; height:100%; display:none; ">
                    <h3>Error</h3>
                    Sorry there was an error sending your form.
        </div>
    </div>
</div>
{% endblock %}