{% extends 'base.html' %}
{% block head%}
<title>Log In | Comparative Judgement</title>
{% endblock %} {% block body %}
<div class="container ">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <!--<p>{{msg}}</p>-->
                <div class="badalert">
                    <span class="badclosebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    {{msg}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row " style="margin-top: 50px">
        <div class="col-md-6 col-md-offset-3 form-container">
            <form class="bg-white rounded shadow-5-strong p-5" action="/reset_password/" method="POST">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="email" class="form-control" />
                  <label class="form-label" for="form1Example1">Email address</label>
                </div>

              
              

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </form>
        </div>
      </div>
</div>
{% endblock %}